{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>{% block title %} SAYDULLAYEV {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
    {% block extrahead %}
        <script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
        {{ block.super }}
    {% endblock %}
</head>
<body>
    <header class="header">
        <div class="container">
            <section class="header-section">
                <h1><a href="{% url 'home' %}">Articles blog</a></h1>
                 <div class="registration-section">
                     {% if user.is_authenticated %}
                        <h3>{{ user.username }}</h3>
                        <a href="{% url 'logout' %}">logout</a> |
                        <a href="{% url 'password_change' %}">parolni o'zgartirish</a>  |
                        <a href="{% url 'article_create' %}">qo'shish</a>
                    {% else %}
                        <a href="{% url 'login' %}">login</a> |
                        <a href="{% url 'signup' %}">signup</a> |
                        <a href="{% url 'password_reset' %}">reset password</a>  |
                    {% endif %}
                 </div>
            </section>
        </div>
    </header>
    {% block content %}
    {% endblock content %}
</body>

</html>